<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
{% block body %}
<h1>About Us</h1>
<div class="row">
    <div class="column">
      <center><img src="/static/me.png" alt="This was supposed to a picture of me" width="400" height="500"></center>
    </div>
    <div class="column">
        <center><img src="/static/me2.png" alt="This was supposed to a picture of me" width="400" height="500"></center>
    </div>
    <div class="column">
        <center><img src="/static/me3.png" alt="This was supposed to a picture of me" width="400" height="500"></center>
    </div>
  </div>
<p>"Step into the world of our exceptional high-school senior, where passion meets purpose and dreams take flight. With a vibrant spirit and unwavering determination, they embody the very essence of leadership and excellence. From academic pursuits to extracurricular adventures, their journey is a testament to resilience and boundless creativity. Whether championing causes close to their heart or igniting change within their community, this remarkable individual leaves an indelible mark wherever they go. As they stand on the cusp of adulthood, their vision for the future is as expansive as their potential. With a thirst for knowledge and a commitment to making a difference, they are poised to carve out a path that inspires others to reach for the stars. Join us in celebrating the remarkable achievements and limitless possibilities of our extraordinary high-school senior."</p>
{% endblock %}